/*Floats Layout styling*/
.outer-container {
  width: 100vw;
  height: 100vh;
}
.nav-content {
  float: left;
  width: 25vw;
  /* padding: 5vh 2vh; */
}

.main-content {
  float: left;
  width: 50vw;
  padding: 0 2vh;
}

.sidebar-content {
  float: left;
  width: 25vw;
  padding: 0 2vh;
}

.inner-container {
  height: 80vh;
}

/* For vertical align create a table */
.nav-content,
.main-content,
.sidebar-content {
  text-align: center;
  position: relative;
  display: table;
  height: inherit;
  overflow: auto;
}

/*Why this works I have no idea.*/
.sidebar-content {
  display: unset;
}

.sidebar-content > *,
.footer-content > *,
.header-content > *,
.main-content > div,
.nav-content > div {
  display: table-cell;
  vertical-align: middle;
}

/*Reset floats so footer is unaffected.*/
.inner-container:after {
  content: '';
  display: table;
  clear: both;
}

.footer-content,
.header-content {
  height: 10vh;
  text-align: center;
  /* padding: 2.5vh 0px; */
  display: table;
  width: inherit;
}

@media only screen and (max-width: 479px) {
  .inner-container > * {
    text-align: center;
    position: relative;
    top: 10vh;
  }
  .nav-content {
    float: left;
    height: 20vh;
    width: 100vw;
  }
  .main-content {
    float: left;
    height: 40vh;
    width: 100vw;
  }
  .sidebar-content {
    float: left;
    height: 20vh;
    width: 100vw;
  }
}
