/*Floats Layout styling*/
.outer-container {
  width: 100vw;
  height: 100vh;
}
.nav-content {
  float: left;
  width: 25vw;
}
.main-content {
  float: left;
  width: 50vw;
}
.sidebar-content {
  float: left;
  width: 25vw;
}

.inner-container {
  height: 80vh;
}
.inner-container > * {
  text-align: center;
  position: relative;
  top: 40vh;
}

/*Reset floats so footer is unaffected.*/
.inner-container:after {
  content: '';
  display: table;
  clear: both;
}

.footer-content,
.header-content {
  height: 10vh;
  text-align: center;
  padding: 4vh 0px;
}

@media only screen and (max-width: 479px) {
  .inner-container > * {
    text-align: center;
    position: relative;
    top: 10vh;
  }
  .nav-content {
    float: left;
    height: 20vh;
    width: 100vw;
  }
  .main-content {
    float: left;
    height: 40vh;
    width: 100vw;
  }
  .sidebar-content {
    float: left;
    height: 20vh;
    width: 100vw;
  }
}
