/*Generic Styling*/
@font-face {
  font-family: Houston;
  src: url(../assets/Houston.otf);
}

.header-content {
  background: #e0922f;
  color: #26292b;
  font-family: Houston, Times, serif;
  font-size: 7vmin;
}

.footer-content {
  background: #99a8b2;
  color: white;
}

.inner-container,
body {
  background-color: #e9e4ce;
}

.main-content {
  font-size: 1.1em;
  overflow: auto;
}

/*Font size based on viewport size: 
https://css-tricks.com/viewport-sized-typography/*/
.footer-content {
  font-size: 1.75vmin;
}

.sidebar-content img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
