/*Grid Layout styling*/
.outer-container {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas:
    'header header header header'
    'inner inner inner inner'
    'footer footer footer footer';
  justify-content: stretch;
  height: 100vh;
}

.header-content {
  grid-area: header;
  display: grid;
  align-items: center;
}

.footer-content {
  grid-area: footer;
  display: grid;
  align-items: center;
}

/*Inner grid layout*/
.inner-container {
  grid-area: inner;
  display: inline-grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: auto;
  grid-template-areas: 'navigation main sidebar';
}

.nav-content {
  padding: 30vh 0vh;
  grid-area: navigation;
  display: grid;
  align-items: center;
  justify-content: space-around;
}

.main-content {
  grid-area: main;
  display: grid;
  align-items: center;
  justify-content: space-around;
  padding: 0% 5%;
}

.sidebar-content {
  grid-area: sidebar;
  display: grid;
  align-items: center;
  justify-content: space-around;
  overflow: auto;
  padding: 5% 10%;
}

/*Center content*/
.header-content,
.footer-content,
.nav-content,
.main-content,
.sidebar-content {
  text-align: center;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .inner-container {
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: 20vh 40vh 20vh;
    grid-template-areas:
      'navigation'
      'main'
      'sidebar';
    justify-content: space-around;
  }
  .nav-content {
    padding: 0% 0%;
    grid-area: navigation;
    display: grid;
    align-items: center;
    justify-content: space-around;
  }
}
